<html>
<head>
    <link href="~/lib/bootstrap.css" rel="stylesheet" />

</head>

<body>
    @*navbarı eklemiş olduk.*@
    <partial name="_navBarPartial" />
    <div class="container">

        @RenderBody()

      
    </div>
    <partial name ="_footerPartial"/>
</body>
</html>