@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="alert alert-info fw-bold">
   Hoş Geldiniz   @User.Claims.FirstOrDefault(x=> x.Type== "fullName")?.Value ,
</div>

<div class="about-section">
    <p>
    Kütüphanemiz kadın, erkek her yaşta, her düzeyde ve her meslekten oluşan toplumun tüm bireylerine, bünyesinde bulundurduğu görsel, ,işitsel ve basılı kaynaklar ile okuma ve bilgilenme ihtiyacını karşılayarak, okuma alışkanlığı kazandırmak üzere çeşitli hizmetler vermektedir.

    Modern Kütüphanecilik esasları çerçevesinde yeniden yapılarak 2021 yılında hizmete açılmıştır. 6 katlı 6352 M2’lik yeni hizmet binasında verilen hizmetler şunlardır.
    <hr/>

        <h2> DANIŞMA HİZMETİ</h2>

    Kütüphane kullanıcılarının bilgi gereksinimlerini karşılayan hizmettir. Ansiklopediler, sözlükler, mesleki kitaplar ve her türden araştırmaya yönelik yayınların yer aldığı yetişkinlere hizmet veren araştırma bölümünde, mevcut kaynaklar doğrultusunda her türlü sorunuza yanıt bulabilirsiniz.
        <hr />
   
        <h2>ÖDÜNÇ VERME HİZMETİ </h2>

    Her yaştan kütüphane kullanıcılarının, kütüphane materyallerinin belirli bir süreyle kütüphane dışında yararlanılmak üzere ödünç verilmesi hizmetidir.

    Roman, hikaye, şiir, kişisel gelişim, sosyoloji, psikoloji, din ve tarih konusundaki kaynaklardan dilediğiniz seçimi yaparak, üye olmak kaydıyla iki hafta süreyle, her defasında 3 adet kitabı ödünç alabileceğiniz bölümlerimiz hafta içi 8:30 – 17:30; cumartesi 10:00–19:00 saatleri arasında hizmet vermektedir.
        <hr />
        <h2> ÇOCUKLARA VERİLEN HİZMETLER </h2>

    Okulöncesi ve ilköğretim çağındaki çocuklar araştırma ve okuma ihtiyaçlarına cevap verilmektedir. Ayrıca çocuk bölümünün içerisinde bulunan bebek kütüphanesinde ebeveynlerinin nezaretinde 0-5 yaş çocukları kitap ve kütüphaneyle tanıştırılmaktadır.
        <hr />
   
        <h2>İNTERNET HİZMETİ </h2>

    Kütüphane kullanıcılarının, kütüphane kaynaklarından bulamadıkları araştırmalarını, internet ortamından yararlanarak yapmaları amacıyla ücretsiz olarak verdiği hizmettir.

    Kullanıcılar kütüphane içerisinde ücretsiz olarak, KTB Misafir WİFİ ağına bağlanarak internet hizmetinden yararlanabilmektedirler.
        <hr />
    <h2>ÇALIŞMA ALANLARI </h2>

    Toplam 550 kişilik oturma kapasitesine sahip çalışma alanı iki kattan oluşmaktadır. Ayrıca binada onbir adet bireysel çalışma odası ile üç adet her biri sekiz kişilik grup çalışma odası mevcuttur.
        <hr />
        <h2>EĞİTİCİ KÜLTÜREL ETKİNLİKLER </h2>

    Kütüphaneye ilgiyi arttırmak, halkı kütüphaneden yararlanmaya yönlendirmek, kütüphaneyi bir kültür odağı olarak görmelerini sağlamak amacıyla; milli bayramlar, anma-kutlama ve kuruluş günlerinde, kitap tanıtma, imza günleri, konferans ve paneller düzenlemektedir.

    Kültürel etkinlikler kütüphane hizmet binasında bu amaçla oluşturulan, 25 kişi kapasiteli cep sineması, 120 kişilik konferans salonu, Kimya Atölyesi, VR Sanal Gözlük Platformu, Matematik Atölyesi, Sergi Alanı, Maker Atölyelerinde düzenlenmektedir.


        <hr />
        <h2>ENGELLİLERE YÖNELİK HİZMETLER </h2>

    Kütüphane hizmet binasına 2022 yılında erişilebilirlik belgesi verilmiştir. Görme engellilere ayrılan bölümde 4 adet bilgisayarda yazıyı sese dönüştüren program bulunmakta, ayrıca az gören bireyler için de kitap okumayı sağlayan büyüteç mevcuttur.

    Yine bu bölümde görme engelliler için sesli kitaplar ile Braille alfabesiyle yazılmış kitaplar bulunmaktadır.

    Kütüphanemizde ilimizde bulunan engelli bireylere yönelik sivil toplum kuruluşları ile işbirliği içerisinde çeşitli etkinlikler düzenlenmektedir.
        <hr />
        <h2>GEZİCİ KÜTÜPHANE HİZMETİ </h2>

    Kütüphane kullanımının yaygınlaştırılması ve okuma alışkanlığının artırılması amacıyla merkeze uzak bölgelere götürülen hizmettir.
    <br />
    Merkeze uzak 6 ayrı bölgede 12 durakta hizmet veren gezici kütüphane aracı modern ve estetik iç mekanı ve teknik donanımlarıyla vatandaşlara modern kütüphanecilik hizmeti sunmaktadır.


    <br/>

    Halk Kütüphanemizin vermiş olduğu hizmetlerle; sürekli eğitiminizi, mesleki bilgilerinizi, bilimsel ve teknolojik bilgilerinizi, sosyal ve kültürel yapınızı geliştirebilirsiniz.

        <div class="alert alert-light fw-bold mb-5 mt-5">

    “Türkiye Cumhuriyetinin Temeli Kültürdür”

            <h3 class="ms-lg-2 fw-bold text-danger">K. ATATÜRK</h3>
            </div>
</p>

</div>
